body{
background-image: url(aa.jpg);
background-size: cover;
}
.uzay{
display: flex; 
flex-wrap: wrap;
}
.ortak{
    margin: 1px;
    height: 200px;
    width: 200px;
    background-size: cover;
    border-radius: 200px;
}
.aa2{
    background-image: url(aa2.jpg); 
    cursor: pointer;
}
 .aa3{
    background-image: url(aa3.jpg);
 } 
 .aa4{
     background-image: url(aa4.jpg); 
    
 }
 .aa5{
     background-image: url(aa5.jpg);
 }
.aa6{
    background-image: url(aa6.jpg);
    
} 
.aa7{
    background-image: url(aa7.png); 
    
}

.aa8{ 
    background-image: url(aa8.jpg);
}


.aa2:hover + .açıklama{
visibility: hidden;
opacity: 1;
}
.aa3:hover + .açıklama1 {
display: block;
}
.aa4:hover + .açıklama2{
display: block;
}
.aa5:hover + .açıklama3{
    display: block;
}
.aa6:hover + .açıklama4{
    display: block;
}
.aa7:hover + .açıklama5{
    display: block;
}
.aa8:hover + .açıklama6{
    display: block;
}
.açıklama{
    background-image: url(a1.jpg);
    background-size: cover;
    color: yellow;
     height: 300px;
    width: 700px;
    position: absolute; 
    top:200px;
    left: 50px; 
    visibility: hidden;
    opacity: 0;
    font-size: 25px; 
    transition-duration: 5s;
    transition-property: all;
    
} 
.açıklama1{
    background-image: url(a1.jpg);
    background-size: cover;
    height : 300px; 
    width: 700px;
    position: absolute; 
    top:200px;
    left: 150px; 
    display: none;
    font-size: 25px; 
    color:yellow;
} 
.açıklama2{

    background-image: url(a1.jpg);
    background-size: cover;
    color: yellow;
     height: 300px;
    width: 700px;
    position: absolute; 
    top:200px;
    left: 350px; 
    display: none;
    font-size: 25px;

}
.açıklama3{

    background-image: url(a1.jpg);
    background-size: cover;
    color: yellow;
    height: 300px;
    width: 700px;
    position: absolute; 
    top:200px;
    left: 450px; 
    display: none;
    font-size: 25px;

}
.açıklama4{ 
    background-image:url(a1.jpg);
    background-size: cover;
    color: yellow;
    height: 300px;
    width: 700px;
    position: absolute; 
    top:200px;
    left: 550px; 
    display: none;
    font-size: 25px;
}
.açıklama5{
background-image: url(a1.jpg);
background-size: cover;
color: yellow;
height: 300px;
width: 700px;
position: absolute;
top: 200px;
left: 650px; 
display: none;
font-size: 25px;
} 
.açıklama6{
background-image: url(a1.jpg);
background-size: cover;
color: yellow;
height: 300px;
width: 700px;
position: absolute;
top: 200px;
right: 50px; 
display: none;
font-size: 25px;
transition-property: all ;
transition-duration: 1s;
} 
